@model IEnumerable<LMS_SYSTEM.Models.RETURNBOOK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BOOK.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAFF.StaffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BOOK.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STAFF.StaffName)
        </td>
        <td>
            <button class="btn btn-success btnn">
                @Html.ActionLink("Edit", "Edit", new { id = item.ReturnID }) 
                </button>
                <button class="btn btn-success btnn">
                    @Html.ActionLink("Details", "Details", new { id = item.ReturnID }) 
                </button>
                    <button class="btn btn-danger btnn">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReturnID })
                </button>
</td>
    </tr>
}

</table>
